<li class="nav-dropdown-container support-vue">
  <a class="nav-link">Unterstütze Vue</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><ul>
      <li><a href="https://vue.threadless.com" target="_blank" class="nav-link">Shop</a></li>
      <li><a href="https://opencollective.com/vuejs" target="_blank" class="nav-link">Unterstütze uns auf OpenCollective</a></li>
      <li><a href="https://www.patreon.com/evanyou" target="_blank" class="nav-link">Unterstütze Evan auf Patreon</a></li>
    </ul></li>
  </ul>
</li>
